body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f4f4f4;
  color: #333;
}
.container {
  padding: 20px;
}
h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #007bff;
  text-align: center;
}
h2 {
  font-size: 16px;
  margin-top: 0;
  color: #555;
  text-align: center;
}
form {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}
button:hover {
  background-color: #0056b3;
}
.section {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}
.section:last-of-type {
  margin-bottom: 0;
}
#currentUrl, #currentRefresh {
  word-wrap: break-word; /* Ensures long words or URLs break and wrap within their container */
  overflow-wrap: break-word; /* Supports text breaking for long URLs */
  white-space: normal; /* Allows text to wrap naturally */
}

#displayUrl, #displayRefresh {
  word-wrap: break-word; /* Ensures long words or URLs break and wrap within their container */
  overflow-wrap: break-word; /* Supports text breaking for long URLs */
  white-space: normal; /* Allows text to wrap naturally */
  max-width: 100%; /* Ensures that text does not exceed the width of its container */
  word-break: break-all; /* Breaks words at arbitrary points if necessary */
}
